.container .WeatherDayCard{

    margin: -6rem -2rem -2rem -2rem;
    width: fit-content;
    transform: scale(0.6, 0.6);
    border: 1px solid black;
    padding: 1rem;
}

.container .WeatherDayCard .date h1 .WeekDay{
    font-weight: 700;
    text-align: center; 
}

.container .WeatherDayCard .date p{
    font-size: x-large;
    text-align: center; 
}
.container .WeatherDayCard .date img{
    width: 256px;
    height: 256px;
    transition: all 1s ease;
}
.container .WeatherDayCard .date img:hover{
    transform: scale(1.1);
}

.container .WeatherDayCard .date .temp h1{
    font-weight: 700;
    text-align: center; 
}