.container .WeatherDayCard{

    margin: -6rem -2rem -2rem -2rem;
    width: 15rem;
    transform: scale(0.6, 0.6);
    border: 1px solid black;
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.65); 
    box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.65);
}


.container .WeatherDayCard .date h1 .WeekDay{
    font-weight: 700;
    text-align: center; 
}

.container .WeatherDayCard .date p{
    font-size: x-large;
    text-align: center; 
}
.container .WeatherDayCard .date img{
    width: 128px;
    height: 128px;
    transition: all 1s ease;
    display:block;
    margin:auto;
}
.container .WeatherDayCard .date img:hover{
    transform: scale(1.4);
}

.container .WeatherDayCard .date .temp h1{
    font-weight: 700;
    text-align: center; 
}