.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.WeatherContainer .input-container{
    display: flex;
}

.place{
    height: fit-content;
    text-align: center;
    color: gray;
    font-size: larger;
    margin: 1rem auto 1rem auto;
    border-radius: 0.3rem;
}

.location{
    height: fit-content;
    text-align: center;
    color: gray;
    margin-bottom: 1rem;
}

